name: Tests
on:
  push:
    branches: [main]
  pull_request:

jobs:
  tests:
    name: Tests

    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ["1.25"]
    env:
      UPSTASH_REDIS_REST_URL: ${{ secrets.UPSTASH_REDIS_REST_URL }}
      UPSTASH_REDIS_REST_TOKEN: ${{ secrets.UPSTASH_REDIS_REST_TOKEN }}

    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}

      - name: Check out code
        uses: actions/checkout@v4

      - name: Get dependencies
        run: go mod download

      - name: Build
        run: go build -v ./...

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest

      - name: Tests
        timeout-minutes: 10
        run: go test -v -race -covermode=atomic ./...